# misc
.DS_Store
*.pem
*.log

# Test
dummy/

# /////////////////////////////////////////////////////
# Frontend

# Node.js dependencies
node_modules/

# next.js build cache
.next/
.swc
out/
build/
dist/

# /////////////////////////////////////////////////////
# Backend

# tauri build cache
**/gen/

# Rust build cache
**/target

/assets/templates/*
