name: Release GUI
on:
  push:
    tags:
      - '*'

env:
  APP_NAME: d_merge
  BUILD_PROFILE: release

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: ${{ env.BUILD_PROFILE }}

      - name: Build the app
        uses: tauri-apps/tauri-action@action-v0.5.20
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseName: 'D merge v__VERSION__'
          tagName: ${{ github.ref_name }}
          prerelease: false

      - name: Move exe -> ./build
        uses: ./.github/actions/setup-release
        with:
          app_name: d_merge
          build_profile: release

      - name: Compress outputs(Windows)
        shell: pwsh
        if: runner.os == 'Windows'
        run: |
          mkdir -p ./build/interfaces
          Compress-Archive -Path './build/*' -DestinationPath './${{ env.APP_NAME }}-${{ runner.os }}-v${{ github.ref_name }}-Portable.zip'
      - name: Release Portable Version(Windows)
        uses: ncipollo/release-action@v1.16.0
        if: runner.os == 'Windows'
        with:
          allowUpdates: true
          artifacts: ./*.zip
          name: '${{ env.APP_NAME }} v${{ github.ref_name }}'
          tag: ${{ github.ref_name }}

      - name: Compress outputs(MacOS/Linux)
        shell: bash
        if: runner.os != 'Windows'
        run: |
          tar -czf ./${{ env.APP_NAME }}-${{ runner.os }}-Portable.tar.gz -C ./build .
      - name: Release Portable Version
        uses: ncipollo/release-action@v1.16.0
        if: runner.os != 'Windows'
        with:
          allowUpdates: true
          artifacts: ./*.tar.gz
          name: '${{ env.APP_NAME }} v${{ github.ref_name }}'
          tag: ${{ github.ref_name }}
